@import "compass/css3/opacity";
@import "compass/css3/transition";
@import "compass/css3/box-shadow";

$circle-width: 145px;

#overscroll {
  position: relative;

  .inside {

    &:before {
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(255, 255, 255, .25);
      z-index: 9998;
      left: 0;
      top: 0;
    }
  }

  .cover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
  }

  .progress-circle {
    cursor: pointer;
    z-index: 9999;
    @include opacity(0);
    position: fixed;
    bottom: 30px;
    width: $circle-width;
    left: 50%;
    margin-left: $circle-width / -2;
    @include transition(opacity 250ms linear);

    &.show {
      @include opacity(1);
    }

    &.jumped {
      @include opacity(0.5);
    }

    > .caption, > canvas {
      display: block;
      margin: auto;
      width: $circle-width;
    }

    > .caption {
      font-size: 22px;
      line-height: 26px;
      text-align: center;
      position: absolute;
      width: 100%;
      top: 41px;
      z-index: 10;
    }

    > canvas {
      height: $circle-width;
      background-color: white;
      border-radius: 80px;
      @include box-shadow(0 0 5px rgba(0, 0, 0, .25));
    }
  }
}